.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  border-radius: 5em;
  background-color: #FFAD60;
  /* outline: 1px solid slategrey; */
}

.css-3v9zut{
  min-height: 40px !important;
}


/* html,.css-yfo96e,.css-ttn1xo{
  background-color: #C3B091 ;
}

.css-1f2xuhi-MuiDrawer-docked, .MuiDrawer-paper {
  background-color: #8E806A !important;
} */